@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color:#1D2939;
  }
}

body {
  color: rgb(var(--text-color));
  background: #ffffff;
  font-size:14px;
  color: #1D2939;
}

.b-shadow {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.hero_h2 {
  background: linear-gradient(98.86deg, #000000 0%, #47BFA3 94.22%);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
